h1 {
    color: red
}
/* CSS Document */
body {
    font:12px arial;
    color: #222;
    text-align:center;
    padding:35px; }
  
form, p, span {
    margin:0;
    padding:0; }
  
input { font:12px arial; }
  
a {
    color:#0000FF;
    text-decoration:none; }
  
    a:hover { text-decoration:underline; }
  
#wrapper {
    margin:0 auto;
    padding-bottom:25px;
    background:#EBF4FB;
    width:504px;
    border:1px solid #ACD8F0; }

#peerWrapper {
    margin:0 auto;
    padding-bottom:25px;
    background:rgb(218, 250, 222);
    width:504px;
    border:1px solid rgb(238, 241, 50);
}
  
#loginform { padding-top:18px; }
  
    #loginform p { margin: 5px; }
  
#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#fff;
    height:270px;
    width:430px;
    border:1px solid #ACD8F0;
    overflow:auto; }
  
#usermsg {
    width:395px;
    border:1px solid #ACD8F0; }
  
#submit { width: 60px; }
  
.error { color: #ff0000; }
  
#menu { padding:12.5px 25px 12.5px 25px; }
  
.welcome { float:left; }
  
.logout { float:right; }
  
.msgln { margin:0 0 2px 0; }

.peerList {
    list-style: none;
    margin-left: 0; 
    padding-left: 0;
}

.msgList{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    padding-top: 0;
    margin-top: 0;
}

.msgItem {
    margin-bottom: 10px;
}