<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Peerster</title>
    <!-- jQuery --> 
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>    <!-- custom JS -->
    <script src="/js/peerster.js" type="text/javascript"></script>
</head>
<body>
   <h1>Peerster fancy UI</h1> 
    <h2 class="peerID">{{peerID}}</h2>
</body>
</html>