h1 {
  color: black;
}
/* CSS Document */
body {
  font: 12px arial;
  color: #222;
  text-align: center;
  padding: 35px;
}

form,
p,
span {
  margin: 0;
  padding: 0;
}

input {
  font: 12px arial;
}

a {
  color: #f8c727;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.content {
  margin-top: 40px;
}
.row {
  display: flex;
}

.column {
  flex: 50%;
}

#chatWrapper {
  margin: 0 auto;
  padding-bottom: 25px;
  width: 500px;
  border: 1px solid black;
}

#fileUploadWrapper {
  margin: 0 auto;
  padding-bottom: 25px;
  width: 500px;
  border: 1px solid black;
  margin-top: 15px;
}

#fileDownloadWrapper {
  margin: 0 auto;
  padding-bottom: 25px;
  width: 500px;
  border: 1px solid black;
  margin-top: 15px;
}

#peerWrapper {
  margin: 0 auto;
  width: 500px;
  border: 1px solid black;
}

#managePeerWrapper {
  margin: 0 auto;
  padding-bottom: 25px;
  width: 500px;
  border: 1px solid black;
}

#contactsWrapper {
  margin: 0 auto;
  width: 500px;
  border: 1px solid black;
}

#loginform {
  padding-top: 18px;
}

#loginform p {
  margin: 5px;
}

#chatbox {
  text-align: left;
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 10px;
  height: 360px;
  width: 430px;
  border: 1px solid black;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}

#peerID {
  color: red;
  font-weight: bold;
}

#usermsg {
  width: 400px;
  border: 1px solid #acd8f0;
}

#submit {
  width: 60px;
}

.error {
  color: #ff0000;
}

#menu {
  padding: 12.5px 25px 12.5px 25px;
}

.welcome {
  float: left;
}

.logout {
  float: right;
}

.msgln {
  margin: 0 0 2px 0;
}

.peerList {
  list-style: none;
  margin: 0 auto;
  padding: 0px;
}

.contactList {
  list-style: none;
  margin: 0 auto;
  padding: 0px;
}

.msgList {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  padding-top: 0;
  margin-top: 0;
}

.msgItem {
  margin-bottom: 10px;
}

.peers {
  text-align: left;
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 10px;
  height: 70px;
  width: 430px;
  border: 1px solid black;
  overflow: auto;
}

.peerItem {
  margin-bottom: 3px;
}

.contacts {
  text-align: left;
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 10px;
  height: 70px;
  width: 430px;
  border: 1px solid black;
  overflow: auto;
}
