h1 {
  color: red;
}
/* CSS Document */
body {
  font: 12px arial;
  color: #222;
  text-align: center;
  padding: 35px;
}

form,
p,
span {
  margin: 0;
  padding: 0;
}

input {
  font: 12px arial;
}

a {
  color: #0000ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.content {
  margin-top: 40px;
}
.row {
  display: flex;
}

.column {
  flex: 50%;
}

#chatWrapper {
  margin: 0 auto;
  padding-bottom: 25px;
  background: #ebf4fb;
  width: 500px;
  border: 1px solid #acd8f0;
}

#fileUploadWrapper {
  margin: 0 auto;
  padding-bottom: 25px;
  background: #ebf4fb;
  width: 500px;
  border: 1px solid #acd8f0;
  margin-top: 15px;
}

#peerWrapper {
  margin: 0 auto;
  background: rgb(218, 250, 222);
  width: 500px;
  border: 1px solid rgb(238, 241, 50);
}

#managePeerWrapper {
  margin: 0 auto;
  padding-bottom: 25px;
  background: rgb(170, 238, 255);
  width: 500px;
  border: 1px solid rgb(253, 138, 118);
}

#contactsWrapper {
  margin: 0 auto;
  background: rgba(236, 152, 232, 0.945);
  width: 500px;
  border: 1px solid rgb(255, 6, 222);
}

#loginform {
  padding-top: 18px;
}

#loginform p {
  margin: 5px;
}

#chatbox {
  text-align: left;
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 10px;
  background: #fff;
  height: 360px;
  width: 430px;
  border: 1px solid #acd8f0;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}

#peerID {
  color: red;
  font-weight: bold;
}

#usermsg {
  width: 400px;
  border: 1px solid #acd8f0;
}

#submit {
  width: 60px;
}

.error {
  color: #ff0000;
}

#menu {
  padding: 12.5px 25px 12.5px 25px;
}

.welcome {
  float: left;
}

.logout {
  float: right;
}

.msgln {
  margin: 0 0 2px 0;
}

.peerList {
  list-style: none;
  margin: 0 auto;
  padding: 0px;
}

.contactList {
  list-style: none;
  margin: 0 auto;
  padding: 0px;
}

.msgList {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  padding-top: 0;
  margin-top: 0;
}

.msgItem {
  margin-bottom: 10px;
}

.peers {
  text-align: left;
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 10px;
  background: rgb(226, 228, 226);
  height: 70px;
  width: 430px;
  border: 1px solid #acd8f0;
  overflow: auto;
}

.peerItem {
  margin-bottom: 3px;
}

.contacts {
  text-align: left;
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 10px;
  background: rgb(226, 228, 226);
  height: 70px;
  width: 430px;
  border: 1px solid #acd8f0;
  overflow: auto;
}
